<div data-role="page">
    {{> header}}
    <div data-role="ui-content">
        <form action="/" method="POST" id="send-form">
            {{#each people}}
            {{> personFormField}} 
            {{/each}}
            <fieldset class="ui-grid-a">
                <div class="ui-block-a">
                    <input data-theme="a" type="reset" value="Reset">
                </div>
                <div class="ui-block-b">
                    <input data-theme="b" type="submit" value="Submit">
                </div>
            </fieldset>
        </form>
    </div>
    {{> footer}}
</div>