<div data-role="page">
    {{> headerWithHomeLink}}
    <div data-role="ui-content">
        <div class="splash">
            <h2>{{message}}</h2>
        </div>
    </div>
    {{> footer}}
</div>